.container
{
    height: 80%;
    width: 100%;
    text-align: center;
}

.header
{
    height: 20%;
    width: 100%;

}

.img
{
    height: 60%;
    width: 100%;

}

h2
{
    display: inline-flex;
    background-color: antiquewhite;
}
